<h1 align="center" style="color:#240A30;"><%= @subject %></h1>
<h3 align="center"><%= @name %>, your account was approved!</h3>
<h3 align="center"><a href="<%= ENV['root_url'] %>">Start working right now.</a>

</h3><h3 align="center">Your CRM login is: <b><%= @email %> </b></h3>
</h3><h3 align="center">Your CRM password is: <b><%= @password %> </b></h3>
<h2 align="center" style="color:#240A30;">This is temporary password for login to the system. After authorization in CRM, please change the password.</h2>
